# Rust / Cargo
/target
/frontend/target
/frontend/dist
/frontend/Trunk.toml
**/*.rs.bk

# Python
__pycache__/
*.py[cod]
*$py.class
relay_server/data/
*.csv

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Project Specific
tools/
launch_log.txt